body{
    background-color: #ffc;
    text-align: center;
    line-height: 100vh;
    margin: 0;
}

button{
    vertical-align: middle;
    width: 100px;
    height: 400px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.sharp{
    width: 50px;
    background-color: #000;
    color: #fff;
}